.crew-section{
    background-color: #f8f8f8;
           padding-bottom: 8rem;
}
.section-header{
    padding-top: 5rem;
    margin-top:2rem;
    text-align: center;
}
.card-content{
    padding-top: 1.9rem;
    text-align: center;
    border: none;
    background-color: white;
    padding-bottom: 2rem;
}
._card{
  
    margin-top:3rem;

  
}

.card-content >:nth-child(n){
    padding-bottom: 10px;
}
.card-content img{
    width: 80px;
    border-radius: 50%;
}
.card-content  h5{
color: black;
padding-top: 5px;
}
.card-content  h6{
    font-size: 0.7rem;
    color: rgba(12, 21, 47, 0.6);
}

.icons i:hover{
    border-color:rgba(122, 8, 24, 0.52);
    color: black;
}
.icons i{
    padding: 5px 2px;
    margin-right: 5px;
     width: 30px;
     border: 1px solid rgba(199, 199, 207, 0.6);
     color: rgb(144, 142, 142);
}


.feature-section{
    margin-top: 5rem;
    padding-bottom:12rem;
  
}
.img-wrapper {
 margin-top: 5rem;
    position: relative; 
    width: 90%;
    left: 20%;
   
}
  
.img-wrapper img {
    
   
    display: block;
    position: absolute;
  }
  
  .img-back{
    width: 47%;

      padding-top: 3.6rem;
      top:-6%;
    left:-4%;
  }
  .img-front{
    width: 40%;

   left: 15%;
  }
  .feature-content{
     
    margin-top:10rem;
    padding: 0 3.2rem;
    
    }
  @media (max-width:988px){
    .feature-content{
     
    margin-top:35rem;
    }
  }
