._btn{
    background-color:#ac1313;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 27px;
    border: none;
    font-size: 0.7rem;
   width:12rem;
   margin-top: 1rem;
   letter-spacing: 1px;

}
._btn:hover{
    background-color: black;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}