
.news-content{
    text-align: center;
    padding-top:10rem;
    margin-bottom: 10rem;
}
.logo-icon{
    display: inline-block;
  padding: 20px;
  border-radius: 50%;
    background-color: burlywood;
    margin-bottom: 3rem;
}
.logo-icon img{
    width: 45px;
}
.input-container{
   
    max-width: 50%;
    margin: auto;
}

.input-group-text{
    background-color: black;
   
}
.input-group-text:hover{
    background-color: #ac1313;
    transition: all 0.3s ease-out;
    
}
.subscribe-btn {
 border: none;
 background-color: transparent;
 color: white;
 font-size: 0.8rem;
}
@media (max-width:980px){
    .input-container{
        min-width: 100%;
       
        margin: auto;
    }
}