@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");


.icon-img {
    font-family: "Playfair Display", serif;
    font-size: 3.9rem;
    color: #ac1313;
  }
 .sub_2 h1{
      color: black;
  }