.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}
.contact img{
    width: 40px;
}
.contact h6{
    font-size: 0.8rem;
}
.contact>:nth-child(n){
padding-top: 0.7rem;
}
.footer-head .nav-brand:hover{
color: black;
}